.PostsContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #f6f6ef;
  margin-top: 0;
}
.Post {
  background-color: #f6f6ef;
  padding: 3px 5px;
}
.Post p {
  font-size: 12px;
  color: grey;
}
